@import url('https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css');

.aiaaPanel
  background-color: var(--primary-background-color)
  height: 100%
  width: 96%
  display: flex
  flex-direction: column
  color: var(--text-primary-color)
  padding: 5px

  .simple-notes
    padding: 2px 2px 2px 20px

  .simple-notes li
    padding-left: 2px

  .aiaaTitle
    font-size: medium
    font-weight: bold

  .aiaaSubtitle
    font-size: 14px
    text-decoration: underline
    font-weight 500

  .aiaaButton
    border: 1px solid var(--ui-border-color-active)
    border-radius: 15px
    background-color: var(--active-color)
    color: var(--ui-gray-dark)
    line-height: 25px
    padding: 0 15px
    outline: none
    cursor: pointer

    &:hover, &:active
      background-color: var(--ui-sky-blue)

    &:disabled
      background-color: var(--ui-sky-blue)

    svg
      margin-right: 4px
      position: relative
      top: 2px

  .aiaaActionButton
    border: 1px solid var(--ui-border-color-active)
    border-radius: 15px
    line-height: 25px
    padding: 0 15px
    outline: none
    cursor: pointer

    svg
      margin-right: 4px
      position: relative
      top: 2px

  .aiaaDropDown
    width: 100%

  .aiaaInput
    width: 100%

  .segButton
    border: 1px solid var(--ui-border-color-active)
    line-height: 25px
    padding: 0 15px
    outline: none
    cursor: pointer

    &:hover, &:active
      background-color: var(--ui-sky-blue)

    &::-moz-focus-inner
      padding 0
      border 0

  .segSection
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid;

  .segTable
    border-collapse: collapse;
    border: 1px dotted;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow-x: auto;

  .segTable tr:nth-child(even) {
    background-color: #333333
  }

  .segTable tr th
    background-color: #333333;
    border: 1px dotted;
    padding: 2px;

  .segTable tr td
    padding: 2px;

  .segColor
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block

  .segEdit
    display: flex

  .aiaaTable
    border-collapse: collapse;
    border: 0 solid;
    width: 100%;

  .aiaaTable tr td
    border: 0 solid;

  .settings_active,
  .settings_header {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
  }

  .settings_active {
    background-color: #403f3d;
  }

  .settings_header:hover {
    background-color: #2b2a28;
  }

  .settings_header:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .settings_active:after {
    content: '\2212';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .settings_content {
    cursor: pointer;
    color: #fff;
    background-color: #2b2a28;
    padding: 10px
    font-size: smaller
  }

  .tabs {
    position: relative;
    margin: 1rem 0;
    background: #2B2A28;
  }

  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }

  .tabs::after {
    clear: both;
  }

  .tab {
    float: left;
  }

  .tab-switch {
    display: none;
  }

  .tab-label {
    position: relative;
    display: block;
    line-height: 2.6em;
    height: 2.8em;
    padding: 0 1.618em;
    background: #2B2A28;
    border-right: 1px dotted #575654;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
    font-size: 11px;
  }

  .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }

  .tab-content {
    height: 11rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1rem;
    background: #2B2A28;
    border-bottom: 0.25rem solid #B2A28;
    opacity: 0;
    transition: all 0.35s;
    width: 100%;
    font-size: small
  }

  .tab-switch:checked + .tab-label {
    background: #EB4E01;
    color: #fff;
    border-bottom: 0;
    border-right: 1px dotted #575654;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
  }

  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }
